<!DOCTYPE html>
<html>
<head>
	<title>Profil</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
		<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<nav>
	<h1>TEKNIK INFORMATIKA</h1>
	<div class="hamburger" id="hamburger">
		<span></span>
		<span></span>
		<span></span>
	</div>
	<ul class="menu" id="menu">
		<li><a href="index.html">DASBOARD</a></li>
		<li><a href="#"  class="active">PROFIL</a></li>
		<li><a href="berita.html" >BERITA</a></li>
		<li><a href="tentang.html">TENTANG</a></li>
		<li><a href="kontak.html" >KONTAK</a></li>
		<li><a href="galeri.html" >GALERI</a></li>
		<li><a href="pariwisata.html">PARIWISATA</a></li>
	</ul>
</nav>
<button class="cofyright" id="cofyright">INFO</button>
<div class="programed" id="programed">
	<form action="" method="POST" name="form_login" class="form_login" onsubmit="return cek()">
		<label>USERNAME</label>
		<input type="text" name="USERNAME" placeholder="USERNAME" required="" id="USERNAME">
		<label>PASSWORD</label>
		<input type="password" name="PASSWORD" placeholder="PASSWORD" required=""> 
			<label id="pertanyaan"></label>
			<label id="jawaban"></label>
		<input type="text" name="captha" id="captha" placeholder="Tulis jawaban anda">
		<button type="submit" >LOGIN</button>
	</form>
	<p class="cofyr">Cofyright Teknik Informatika 2019</p>
</div>
<script type="text/javascript" src="../js/submenu.js"></script>
</body>
</html>